# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
# Set the date column as the DataFrame index
df.set_index(['date'], inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [12]:
# Drop the date column
date_df = df.drop(index='date')
date_df.head()

KeyError: "['date'] not found in axis"

### Compare June and December data across all years

In [ ]:
from sqlalchemy import extract
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6)
june_temp_list = [temp.tobs for temp in june_temps]
print(np.mean(june_temp_list))

dec_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 12)
dec_temp_list = [temp.tobs for temp in dec_temps]
print(np.mean(dec_temp_list))

In [ ]:
from scipy import stats
stats.ttest_ind(june_temp_list, dec_temp_list)

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June
print(np.mean(june_temp_list))

In [ ]:
# Identify the average temperature for December
print(np.mean(dec_temp_list))

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test
stats.ttest_ind(june_temp_list, dec_temp_list)

### Analysis